@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  scroll-behavior: smooth;
  --accent-text-color: #d78c43;
  --text-color: #fff;
  --medium-text-color: #e1e1e1;
  --paragraph-text-color: #bbb;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
